<configuration>
  <!-- Don't use any higher level config files.
       Our builds need to be isolated from user/machine state -->
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
  <packageSources>
    <add key="mono" value="https://dotnetfeed.blob.core.windows.net/mono-mono/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
